* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 1
// .header {
//     min-height: 150px;
//     background-color: #ccc;
//     margin-bottom: 150px;

// }

// .footer {
//     min-height: 150px;
//     background-color: #ccc;

//     &__logo {
//         margin-left: 200px;
//     }

// }

// .container {
//     width: 1200px;
//     margin: 0 auto;
// }

// .flex {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 15px;
// }

// .item {
//     width: 390px;
//     height: 350px;
//     border: 1px solid #000;

//     &__button {
//         margin: 200px auto 0;

//     }
// }

// .content {
//     margin-bottom: 150px;
// }

// .logo {
//     width: 50px;
//     height: 50px;
//     background-color: darkmagenta;
// }

// .button {
//     background-color: gold;
//     padding: 1rem 2rem;
//     color: #000;
//     width: 120px;
//     font-weight: bold;

//     &_red {
//         background-color: red;
//         color: white;
//     }

//     &_brd {
//         border: 2px solid #000;
//     }

//     &_round {
//         border-radius: 10px;
//     }

// }

// .button:hover {
//     background-color: green;
//     color: white;
// }


// .button_pink:hover {
//     background-color: pink;
// }


// 2
// .content {
//     display: grid;
//     grid-template-columns: repeat(3, 200px);
//     grid-template-rows: 500px 500px;
//     column-gap: 3%;
//     row-gap: 50px;
//     justify-content: center;
//     align-items: center;
//     justify-items: start;
//     margin-bottom: 300px;
// }

// .item {
//     border: 1px solid #000;
//     padding: 10px;
// }

// @media (max-width: 768px) {
//     .content {
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: repeat(3, 500px);
//     }
// }

// .container {
//     display: grid;
//     grid-template-rows: repeat(3, 250px);
//     grid-template-columns: repeat(2, 500PX);
//     margin-bottom: 250px;
//     justify-content: center;
//     gap: 30px;
// }

// .block {
//     border: 2px solid #000;
// }

// .block-1 {
//     grid-row: 1/3;
// }

// .block-4 {
//     grid-row: 2/4;
// }

.center {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-rows: 150px 500px 150px;
}

.header {
    grid-column: span 12;
    background-color: #ccc;
}

.nav {
    grid-column: span 3;
    background-color: green;
}

.content {
    grid-column: span 9;
    background-color: gold;
}

.footer {
    grid-column: span 12;
    background-color: #ccc;
}

@media (max-width: 768px) {
    .header {
        grid-column: span 6;
    }

    .nav {
        grid-column: span 6;
    }

    .content {
        grid-column: span 12;
    }
}