@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    /* max-width: 1146px;
    margin: 0 auto; */
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);

}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.product-cards__heading {
    color: rgba(34, 34, 34, 1);
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.product-cards__dsc {
    color: rgba(159, 159, 159, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-bottom: 49px;
}

.product-box {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    position: relative;
}

.product-box-text {
    background: rgba(248, 248, 248, 1);
    padding: 25px 28px 20px 18px;
}

.product-box__cards-name {
    color: rgba(0, 0, 0, 1);
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 12px;
}

.product-box__cards-description {
    color: rgba(93, 93, 93, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    margin-bottom: 18px;
}

.product-box__cards-price {
    color: rgba(241, 109, 127, 1);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.product-cards__margin {
    margin-top: 200px;
    margin-bottom: 200px;
}

.card-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.product-box__img {
    width: 100%;
}

.product-box:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.product-box:hover .product-box__img {
    filter: brightness(30%);
}

.add-txt {

    color: rgba(255, 255, 255, 1);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.add {
    text-decoration: none;
    display: none;
    align-items: center;
    padding: 10px 13px;
    border: 1px solid rgba(255, 255, 255, 1);
    pointer-events: all;

}

.add:hover {
    box-shadow: 0px 0px 10px 0px #fff;
}

.add-box {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 32%;
    width: 100%;
    pointer-events: none;
}

.add-img {
    margin-right: 11px;
}

.product-box:hover .add {
    display: flex;
}