@import 'vars';
@import 'mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

%font {
    font-family: sans-serif;
    font-style: normal;
}

.container {
    width: $widthSite;
}

.text-color {
    color: $colorSelecSite;
}

// коментарий

.nav {
    display: flex;
    justify-content: center;
    gap: $gapGrid;


    &__link {

        text-decoration: none;
        @extend %font;
    }

}

.content {
    gap: $gapGrid;
    @include flexCenter();

    &__item {
        width: $widthSite / 4;
        border: $border;
        height: 200px;
    }
}