@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Lato',
        sans-serif;
    user-select: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}


summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: $backblock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.header__left {
    display: flex;
    gap: 40px;
    align-items: flex-end;
}

.header__right {
    //     display: flex;
    //     gap: 30px;
    //     align-items: flex-end;
}


#burger {
    position: absolute;
    left: -9999999999999px;
    visibility: hidden;

    &:checked~.nav {
        right: -232px;
    }

}

.box-content {}

.nav {
    background: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 32px;
    position: absolute;
    top: 82px;
    right: 0px;
    transition: right .3s;

}

.top-head {
    background: rgb(248, 243, 244);
    padding-top: 60px;
    padding-bottom: 60px;
}

.top-head__heading {
    color: $colorSelectSite;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;

}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: rgb(99, 99, 99);
}

.breadcrumbs__link_site {
    font-weight: 700px;
    color: $colorSelectSite;
}

%flex-wrap {
    display: flex;
    flex-wrap: wrap
}

.product-box {
    @include centerflex();
    gap: $gapGrid;
}

.product {
    width: 360px;
    display: flex;
    flex-direction: column;

    &__img {
        width: 100%;
    }

    &__content {
        background: rgb(248, 248, 248);
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        color: $colorText;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }

    &__text {
        color: rgb(93, 93, 93);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }

    &__price {
        color: $colorSelectSite;
    }
}

.filter-sotr {
    height: 132px;
    padding-top: 39px;
    position: relative;
    display: flex;
    gap: $gapGrid;
    z-index: 10;
}

.filter {
    padding-top: 13px;
    width: 360px;
    position: relative;
    z-index: 10;

    &__content {
        background-color: white;
        padding: 0 16px 16px 16px
    }

    &[open] {
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        margin-bottom: 16px;
    }

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        text-decoration: none;

        &:hover {
            color: $colorSelectSite;
        }
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: rgb(111, 110, 110);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

    }

    &__heading {
        color: rgb(111, 110, 110);
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}