* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: rgb(34, 34, 34);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.header__left {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

#burger {
  position: absolute;
  left: -9999999999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: -232px;
}

.nav {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  position: absolute;
  top: 82px;
  right: 0px;
  transition: right 0.3s;
}

.top-head {
  background: rgb(248, 243, 244);
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-head__heading {
  color: rgb(241, 109, 127);
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: rgb(99, 99, 99);
}

.breadcrumbs__link_site {
  font-weight: 700px;
  color: rgb(241, 109, 127);
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__img {
  width: 100%;
}
.product__content {
  background: rgb(248, 248, 248);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.product__text {
  color: rgb(93, 93, 93);
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.product__price {
  color: rgb(241, 109, 127);
}

.filter-sotr {
  height: 132px;
  padding-top: 39px;
  position: relative;
  display: flex;
  gap: 30px;
  z-index: 10;
}

.filter {
  padding-top: 13px;
  width: 360px;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: white;
  padding: 0 16px 16px 16px;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: rgb(241, 109, 127);
}
.filter[open] path {
  fill: rgb(241, 109, 127);
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
  margin-bottom: 16px;
}
.filter__heading {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.filter__head {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid rgba(235, 235, 235, 0.9215686275);
  border-left: 5px solid rgb(241, 109, 127);
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: rgb(111, 110, 110);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-decoration: none;
}
.filter__link:hover {
  color: rgb(241, 109, 127);
}
.filter__item[open] .filter__head {
  color: rgb(241, 109, 127);
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: rgb(111, 110, 110);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.sort__heading {
  color: rgb(111, 110, 110);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  background: rgb(255, 255, 255);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}/*# sourceMappingURL=style.css.map */