* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-color: #ccc;
    min-height: 100vh;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 50vw;
    text-align: center;
}

.block {
    position: relative;
    min-height: 100vh;
    background-color: #123456;

    &__header {
        position: sticky;
        height: 150px;
        background-color: #555;
        top: 100px;
        left: 0;
        width: 250px;
    }
}

.block-item {
    background-color: #654321;
    min-height: 100vh;
}

// html {
//     font-size: 20px; // 1rem = 20px
// }

// .header {
//     font-size: 2.8rem;
// }

// .subtitle {
//     font-size: 1.6rem;
// }



html {
    font-size: 16px; //16px = 1rem
}

.header {
    font-size: 2rem; // 32 / 16 = 2rem
}

.subtitle {
    font-size: 1.5rem;
}

.text {
    font-size: 1rem;
}

@media (max-width: 768px) {
    html {
        font-size: 14px; // 1rem = 14px
    }

    //     .header {
    //         font-size: 28px;
    //     }

    //     .subtitle {
    //         font-size: 21px;
    //     }

    //     .text {
    //         font-size: 14px;
    //     }

}

@media (max-width: 425px) {

    html {
        font-size: 12px;
    }

    // .header {
    //     font-size: 14px;
    // }

    // .subtitle {
    //     font-size: 18px;
    // }

    // .text {
    //     font-size: 12px;
    // }

}

// .content {
// padding: 10px;
//     display: flex;
//     // flex-wrap: wrap;
//     margin-bottom: 500px;
// }

// .item {
//     // flex-grow: 1;
//     // flex-basis: 100px;


//     flex-shrink: 1;
//     width: 250px;
//     height: 100px;
//     border: 1px solid #000;
// }

// .item_2 {
//     flex-shrink: 2;
// }

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    padding: 10px;
    gap: 10px;
    max-width: 1000px;
    margin: auto;
}

.item {
    min-height: 100px;
    border: 1px solid #000;
}