.top-head__marging_shopping {
    margin-bottom: 96px;
}

.shopping-cart {
    margin-bottom: 128px;
}

.shopping-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 390px;
}

.shopping-cart__left {
    width: 652px;
}

.shopping-box {
    display: flex;
    box-shadow: 9px 9px 20px 0px #d1d1d1;
    position: relative;
    margin-bottom: 40px;



    &__header {
        margin-left: 31px;
        width: 65%;
        margin-top: 22px;

    }

    &__subtitle {
        color: rgb(34, 34, 34);
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;

        text-align: left;
    }

    &__description {
        margin-left: 31px;
        margin-bottom: 62px;
    }

    &__dsc {
        color: rgb(87, 87, 87);
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;

        &-price {
            color: $colorSelectSite;
        }

        &-values {
            color: rgb(111, 110, 110);
        }

        &-values1 {
            color: rgb(101, 101, 101);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            border: 1px solid rgb(234, 234, 234);
            padding: 1px 16px;
            margin-left: 25px;
        }
    }

    &__img_close {
        position: absolute;
        top: 28px;
        right: 22px;
        left: auto;
    }
}

.shopping-box:last-child {
    margin-bottom: 72px !important;
}

.shopping-btn {
    display: flex;
    justify-content: space-between;

    &__link {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        border: 1px solid rgb(164, 164, 164);
        padding: 1rem 2rem;
        margin-top: 32px;

        &:hover {
            background-color: $colorSelectSite;
            color: white;
        }
    }

}

.shopping-flex {
    display: flex;
}

.shopping-cart__right {
    padding-left: 8%;
    width: 40%;
}



.shopping__input {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    border: 1px solid rgb(164, 164, 164);
    padding: 13px 0 16px 17px;
    width: 360px;
    margin-bottom: 20px;
}

.shopping__input::placeholder {
    color: rgb(34, 34, 34);
}

.shopping__input_site::placeholder {
    color: rgb(177, 177, 177);
}

.shopping__input_btn {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(164, 164, 164);
    padding: 1rem 2rem;
    color: rgb(74, 74, 74);
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-align: left;

    &:hover {
        background-color: $colorSelectSite;
        color: white;
    }
}

.shopping__form_head {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 8px;
}

.shopping-decoration {
    width: 360px;
    background: rgb(245, 243, 243);
    padding-bottom: 58px;
}

.shopping__form {
    margin-bottom: 51px;
}

.sub-total {
    color: rgb(74, 74, 74);
    font-family: Lato;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: right;
    padding-top: 39px;
    padding-right: 34px;
    margin-bottom: 12px;
}

.grand-total {
    color: rgb(34, 34, 34);
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: right;
    padding-right: 34px;
    margin-bottom: 21px;
}

.shopping-hr {
    width: 278px;
    border-top: 1px solid rgb(226, 226, 226);
    margin-bottom: 32px;
    margin-left: 44px;
}

.shopping-decoration__link {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    background-color: $colorSelectSite;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-left: 55px;

    &:hover {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(164, 164, 164);
        color: rgb(74, 74, 74);
    }
}

.img-close:hover path {
    fill: $colorSelectSite;
}