.catalog-nav {
    background-color: rgb(248, 243, 244);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 51px;

    &-head__heading {
        color: $colorSelectSite;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;

    }

}

.breadcrumbs {
    &__ul {
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        color: rgb(99, 99, 99);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }

    &__li:last-child .breadcrumbs__link {
        font-weight: 700;
        color: $colorSelectSite;
    }

    &__link {
        text-decoration: none;
        color: rgb(99, 99, 99);
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
    }

}

.trading-cards__catalog {
    margin-bottom: 18px;
}

.pagination {
    margin-bottom: 96px;

    &-flex {
        display: flex;
        justify-content: center;
    }

    &-box {
        border: 1px solid rgb(235, 235, 235);
        display: flex;
    }

    &__link {
        text-decoration: none;
        padding: 15px;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        color: rgb(196, 196, 196);
    }

    &__link:hover {
        color: $colorSelectSite;
        transition: .5s ease;
    }

    &__link:hover path {
        fill: $colorSelectSite;
        transition: .5s ease;
    }
}


.filter-sotr {
    height: 132px;
    padding-top: 39px;
    position: relative;
    display: flex;
    gap: 30px;
    z-index: 10;
}

.filter {
    padding-top: 13px;
    width: 360px;
    position: relative;
    z-index: 10;

    &__content {
        background-color: white;
        padding: 0 16px 16px 16px
    }

    &[open] {
        background: #fff;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
        margin-bottom: 16px;
    }

    &__heading {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: rgb(111, 110, 110);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        text-decoration: none;

        &:hover {
            color: $colorSelectSite;
        }
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: rgb(111, 110, 110);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;

    }

    &__heading {
        color: rgb(111, 110, 110);
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        background: rgb(255, 255, 255);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}