.registration-catalog__m {
    margin-bottom: 64px;
}

.registration-left {
    width: 360px;

    &__head {
        color: $colorText;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        margin-bottom: 20px;
    }

    &__input {
        width: 360px;
        height: 44px;
        border: 1px solid rgb(164, 164, 164);
        padding-left: 17px;
        margin-bottom: 20px;
    }

    &__input::placeholder {
        color: rgb(177, 177, 177);
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
    }

    &__input[type=text]:focus {
        outline: 2px solid $colorSelectSite;
        border: none;
    }

    &__input[type=email]:focus {
        outline: 2px solid $colorSelectSite;
        border: none;
    }

    &__input[type=password]:focus {
        outline: 2px solid $colorSelectSite;
        border: none;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__box-radio {
        margin-top: 11px;
        margin-bottom: 33px;
        display: flex;
        align-items: center;
    }

    &__label {
        margin-right: 20px;
        margin-left: 10px;
        color: rgb(0, 0, 0);
        font-size: 11px;
        font-weight: 300;
        line-height: 13px;
    }

    &__input_m {
        margin-bottom: 15px;
    }

    &__dsc {
        color: rgb(177, 177, 177);
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        margin-bottom: 55px;

    }

    &__link {
        background: $colorSelectSite;
        border: 1px solid $colorSelectSite;
        padding: 1rem 2rem;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-decoration: none;
    }

    &__link_m {
        margin-left: 20px;
    }

    &__link:hover {
        background-color: white;
        color: $colorSelectSite;
    }

    &__link:hover path {
        fill: $colorSelectSite;

    }

}

.registration {
    margin-bottom: 113px;
}

.registration-flex {
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

.registration-rigth {
    width: 57%;

    &__head {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 22px;
        text-align: left;
    }

    &__dsc {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 21px;
    }

    &__text {
        margin-bottom: 16px;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 22px;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 23px;
    }

}

@media (max-width: 1024px) {}